.ProductShowcase {

    .ShowcaseContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .ShowcaseProductCard {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                max-width: 350px;
            }
        }
    }
}