.Header {
    background-color: antiquewhite;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .logo {
        height: 50px;
        width: 50px;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
