footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212529;
}

.footer-main-container {
  height: 110px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.footer-services {
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-servicesList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.footer-payment {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100%;
  align-items: flex-start;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paymentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.paymentList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}


.logopay {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer-contactos {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactos{
  display: flex;
  flex-direction: column;
}

.resetBlock {
  padding: 0;
  margin: 0;
}

.LetraPRJTitle {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.LetraPRJtext {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.link {
  cursor: pointer;
}


@media only screen and (max-width: 900px) {
  .footer-main-container {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-services,
  .footer-payment,
  .footer-contactos,
  .footer-content,
  .contactos {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }

  .footer-servicesList,
  .footer-payment,
  .footer-contactos,
  .contactos
  {
    justify-content: center;
    align-items: center;
  }

  .contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}